[submodule "themes/hugo-dpsg"]
	path = themes/hugo-dpsg
	url = https://github.com/pfadfinder-konstanz/hugo-dpsg
[submodule "themes/binario"]
	path = themes/binario
	url = https://github.com/vimux/binario
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/compose"]
	path = themes/compose
	url = git@github.com:onweru/compose
