


<div style="top: 50%;display: block;left: 50%;">
    <div style="text-align: center;font-size: 30px;">
        <span style="color: #272822;text-shadow: 2px 2px 6px #333;">M</span>
        <span style="color: #272822;text-shadow: 2px 2px 6px #333;">y</span>
        <span style="color: #272822;text-shadow: 2px 2px 6px #333;">&nbsp;</span>
        <span style="color: #272822;text-shadow: 2px 2px 6px #333;">R</span>
        <span style="color: #272822;text-shadow: 2px 2px 6px #333;">e</span>
        <span style="color: #272822;text-shadow: 2px 2px 6px #333;">f</span>
        <span style="color: #272822;text-shadow: 2px 2px 6px #333;">l</span>
        <span style="color: #272822;text-shadow: 2px 2px 6px #333;">e</span>
        <span style="color: #272822;text-shadow: 2px 2px 6px #333;">c</span>
        <span style="color: #272822;text-shadow: 2px 2px 6px #333;">t</span>
        <span style="color: #272822;text-shadow: 2px 2px 6px #333;">i</span>
        <span style="color: #272822;text-shadow: 2px 2px 6px #333;">o</span>
        <span style="color: #272822;text-shadow: 2px 2px 6px #333;">n</span>
        <span style="color: #272822;text-shadow: 2px 2px 6px #333;">s</span>
    </div>
</div>


